<template>
  <div>
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/' }">
        <app-i18n code="home.menu"></app-i18n>
      </el-breadcrumb-item>
      <el-breadcrumb-item>
        <app-i18n code="entities.compound.menu"></app-i18n>
      </el-breadcrumb-item>
    </el-breadcrumb>

    <div class="app-content-page">
      <h1 class="app-content-title">
        <app-i18n code="entities.compound.list.title"></app-i18n>
      </h1>

      <app-compound-list-toolbar></app-compound-list-toolbar>
      <app-compound-list-filter></app-compound-list-filter>
      <app-compound-list-table></app-compound-list-table>
    </div>
  </div>
</template>

<script>
import CompoundListFilter from '@/modules/compound/components/compound-list-filter.vue';
import CompoundListTable from '@/modules/compound/components/compound-list-table.vue';
import CompoundListToolbar from '@/modules/compound/components/compound-list-toolbar.vue';

export default {
  name: 'app-compound-list-page',

  components: {
    [CompoundListFilter.name]: CompoundListFilter,
    [CompoundListTable.name]: CompoundListTable,
    [CompoundListToolbar.name]: CompoundListToolbar,
  },
};
</script>

<style>
</style>
