<template>
  <div>
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/' }">
        <app-i18n code="home.menu"></app-i18n>
      </el-breadcrumb-item>
      <el-breadcrumb-item :to="{ path: '/compound-lot' }">
        <app-i18n code="entities.compoundLot.menu"></app-i18n>
      </el-breadcrumb-item>
      <el-breadcrumb-item>
        <app-i18n code="entities.compoundLot.view.title"></app-i18n>
      </el-breadcrumb-item>
    </el-breadcrumb>

    <div class="app-content-page">
      <h1 class="app-content-title">
        <app-i18n code="entities.compoundLot.view.title"></app-i18n>
      </h1>

      <div class="app-page-spinner" v-if="loading" v-loading="loading"></div>

      <app-compound-lot-view-toolbar v-if="record"></app-compound-lot-view-toolbar>

      <el-form
        :label-position="labelPosition"
        :label-width="labelWidthForm"
        @submit.prevent.native
        class="form"
        v-if="record"
      >
        <app-view-item-text :label="fields.id.label" :value="presenter(record, 'id')"></app-view-item-text>

        <app-view-item-relation-to-one
          :label="fields.vendorId.label"
          :permission="fields.vendorId.readPermission"
          :url="fields.vendorId.viewUrl"
          :value="presenter(record, 'vendorId')"
        ></app-view-item-relation-to-one>

        <app-view-item-relation-to-one
          :label="fields.compoundId.label"
          :permission="fields.compoundId.readPermission"
          :url="fields.compoundId.viewUrl"
          :value="presenter(record, 'compoundId')"
        ></app-view-item-relation-to-one>

        <app-view-item-text :label="fields.createdAt.label" :value="presenter(record, 'createdAt')"></app-view-item-text>

        <app-view-item-text :label="fields.updatedAt.label" :value="presenter(record, 'updatedAt')"></app-view-item-text>
      </el-form>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import CompoundLotViewToolbar from '@/modules/compound-lot/components/compound-lot-view-toolbar.vue';
import { CompoundLotModel } from '@/modules/compound-lot/compound-lot-model';

const { fields } = CompoundLotModel;

export default {
  name: 'app-compound-lot-view-page',

  props: ['id'],

  components: {
    [CompoundLotViewToolbar.name]: CompoundLotViewToolbar,
  },

  computed: {
    ...mapGetters({
      labelPosition: 'layout/labelPosition',
      labelWidthForm: 'layout/labelWidthForm',
      record: 'compoundLot/view/record',
      loading: 'compoundLot/view/loading',
    }),

    fields() {
      return fields;
    },
  },

  async created() {
    await this.doFind(this.id);
  },

  methods: {
    ...mapActions({
      doFind: 'compoundLot/view/doFind',
    }),

    presenter(record, fieldName) {
      return CompoundLotModel.presenter(record, fieldName);
    },
  },
};
</script>
