<template>
  <div>
    <el-breadcrumb separator-class="el-icon-arrow-right">
      <el-breadcrumb-item :to="{ path: '/' }">
        <app-i18n code="home.menu"></app-i18n>
      </el-breadcrumb-item>
      <el-breadcrumb-item>
        <app-i18n code="entities.compoundLot.menu"></app-i18n>
      </el-breadcrumb-item>
    </el-breadcrumb>

    <div class="app-content-page">
      <h1 class="app-content-title">
        <app-i18n code="entities.compoundLot.list.title"></app-i18n>
      </h1>

      <app-compound-lot-list-toolbar></app-compound-lot-list-toolbar>
      <app-compound-lot-list-filter></app-compound-lot-list-filter>
      <app-compound-lot-list-table></app-compound-lot-list-table>
    </div>
  </div>
</template>

<script>
import CompoundLotListFilter from '@/modules/compound-lot/components/compound-lot-list-filter.vue';
import CompoundLotListTable from '@/modules/compound-lot/components/compound-lot-list-table.vue';
import CompoundLotListToolbar from '@/modules/compound-lot/components/compound-lot-list-toolbar.vue';

export default {
  name: 'app-compound-lot-list-page',

  components: {
    [CompoundLotListFilter.name]: CompoundLotListFilter,
    [CompoundLotListTable.name]: CompoundLotListTable,
    [CompoundLotListToolbar.name]: CompoundLotListToolbar,
  },
};
</script>

<style>
</style>
